<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CitrusPayMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CitrusPayMobileSampleApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UniversalCitrusPayMobile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76D4929C1B3AA195004393B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D492A71B3AA195004393B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D492B71B3AA1CD004393B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D782991B53BDF300491AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76D782B11B53BDF300491AF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
